
  <div class="col-lg-10"></div>
  <div *ngIf="user.Username != null" class="col-lg-2">Pozdravljen, {{user.Username}}
    <a class="btn btn-primary" (click)="LogOut()">Odjavi se</a>
  </div>
  

  <div *ngIf="user.Username == null" class="col-lg-2">
    <p>{{NotLoggedInText}}</p><a class="btn btn-primary" (click)="openModal(modalLogin)">{{LogInText}}</a>
  </div>


<ng-template #modalLogin>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Prijavi se</h4>
    <button type="button" class="close pull-right" aria-label="Zapri" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
      <div class="popup-main top-padding">
        <label>Email:</label>
      </div>
      <input [(ngModel)]="model.username" type="text" class="form-control"/>
      <div class="popup-main top-padding">
        <label>Geslo:</label>
      </div>
      <input [(ngModel)]="model.password" type="password" class="form-control"/>
      <div class="popup-main top-padding">
        <button class="btn btn-primary" (click)="LogIn()">Vpiši se</button>    
      </div>
      <div class="popup-main top-padding">
        <p>{{error}}</p>   
      </div>
      <div class="popup-main top-padding">
        <a (click)="ForgottenPassword(modalForgottenPassword)" class="link-cursor">Pozabljeno geslo?</a>    
      </div>
      <div class="popup-main top-padding">
        <a (click)="RegisterNewUser(modalLogin)" class="link-cursor">Še nimate računa?</a>    
      </div>
    </div>
    <div class="col-lg-4"></div>
  </div>
  </div>
 </ng-template>

 <ng-template #modalForgottenPassword>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Pozabljeno geslo</h4>
    <button type="button" class="close pull-right" aria-label="Zapri" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #forgottenPassword="ngForm" (ngSubmit)="retrieveForgottenPassword()">
      <div class="form-group">
        <label for="forgottenPasswordEmail">Email</label>
        <input [(ngModel)]="modelForgottenPassword.email" type="email" class="form-control" #forgottenPasswordEmail="ngModel" name="forgottenPasswordEmail" required email>
        <div [hidden]="forgottenPasswordEmail.valid || forgottenPasswordEmail.pristine" class="alert alert-danger">Email je obvezen.</div>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-success" [disabled]="!forgottenPassword.form.valid">Spremeni geslo</button>
      </div>
    </form>
    <div class="form-group">
      <div class="col-lg-12 popup-main top-padding">
        <div [hidden]="forgottenPasswordStatus == null" class="alert alert-danger">{{forgottenPasswordStatus}}</div>
      </div>
    </div>
  </div>
 </ng-template>
