.select-service-main{
    background-color: #e8eff4;
    margin: 15px;
}
.select-service-title{
    padding: 5px;
    text-align: center;
}

.select-service-item{
    padding: 5px;
    font-size: 15px;
}

.select-service-item-row{
    padding:10px;
}

.select-service-list{
    list-style-type: none;
}
