<div class="row">
    <div class="col-lg-12 popup-main">
      <h3>Obnovite svoje geslo !</h3>
    </div>
</div>
  <form #renewPassword="ngForm" (ngSubmit)="renewPasswordService()">
  <div class="form-group">
    <label for="renewPassword">Geslo</label>
    <input [(ngModel)]="model.password" type="password" class="form-control" #password="ngModel" name="renewPassword" required minlength="8">
    <div [hidden]="renewPassword.valid || renewPassword.pristine" class="alert alert-danger">Geslo je obvezno in mora biti dolgo vsaj 8 znakov.</div>
  </div>
  <div class="col-lg-12 popup-main">
  <button type="submit" class="btn btn-success" [disabled]="!renewPassword.form.valid">Obnovi geslo</button>
  </div>
</form>
<div class="form-group">
  <div class="col-lg-12 popup-main top-padding">
    <div [hidden]="renewPasswordStatus == null" class="alert alert-danger">{{renewPasswordStatus}}</div>
  </div>
</div>