<div class="row">
<div *ngFor="let provinceItem of placesList; let indexOfProvince = index">
    <a class="filtersParentLink" (click)= "placesCollapsed[indexOfProvince] = !placesCollapsed[indexOfProvince]">
      <span *ngIf="placesCollapsed[indexOfProvince]" class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span *ngIf="!placesCollapsed[indexOfProvince]" class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
      {{provinceItem[0].Name}}
    </a>
    <div [collapse]="placesCollapsed[indexOfProvince]">
          <div *ngFor="let placeItem of placesList[indexOfProvince] let indexOfPlace = index">
            <div *ngIf="indexOfPlace !== 0">
                    <label>
                        <input type="checkbox" (change)="checkboxChangedRegionParent(placeItem.Id, $event)">
                    
                    </label>{{placeItem.Name}}
            </div>
          </div>
    </div>
  </div>
</div>


<div class="row">
  <div *ngFor="let priceSetterTypeItem of priceSetterList; let indexOfPriceSetterType = index">
    <a class="filtersParentLink" (click)= "priceSetterCollapsed[indexOfPriceSetterType] = !priceSetterCollapsed[indexOfPriceSetterType]">
      <span *ngIf="priceSetterCollapsed[indexOfPriceSetterType]" class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span *ngIf="!priceSetterCollapsed[indexOfPriceSetterType]" class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
      {{priceSetterTypeItem[0].Name}}
    </a>
    <div [collapse]="priceSetterCollapsed[indexOfPriceSetterType]">
          <div *ngFor="let priceSetterItem of priceSetterList[indexOfPriceSetterType] let indexOfPriceSetter = index">
            <div *ngIf="indexOfPriceSetter !== 0">
                    <label>
                        <input type="checkbox" (change)="priceSetterCheckboxChanged(priceSetterItem.Id, $event)">
                    
                    </label>{{priceSetterItem.Name}}
            </div>
          </div>
    </div>
  </div>
</div>